.npmignore
.gitignore
.gitmodules
.travis.yml
.jshintrc
bower.json
component.json
Gruntfile.js

/source
/.idea
/node_modules
/tests
/test
/build
/*.tgz
/*.php
/*.min.js
/*.js.map
/*.html
/*.htm
/try
/doc
