body {
  font-family: Verdana, sans-serif;
  font-size: 12px;
}

table {
	font-size: inherit;
}
#main {
	width: 100%;
	background-color: #DDD;
	background-color: rgba(255, 255, 255, 0.6);
}

td {
	padding: 5px;
	vertical-align: top;
}

#test-set-cell {
	width: 300px;
}

#test-set-list {
    width: 300px;
    float: left;
    padding: 10px;
    margin: 20px;
    margin-top: 40px;
    margin-right: 40px;
    border: 2px solid #666;
    border-radius: 10px;
    background-color: #ACE;
}

#test-set-list a {
    text-decoration: none;
}

#test-set-list a:hover {
    color: #024;
}

.test-set, .test-set-group-name {
    display: block;
    margin: 0.5em;
    color: #234;
}

.test-set.selected, .test-set-group-name.selected {
    color: #000;
    text-decoration: underline;
}


.test-set-group {
    padding-left: 2em;
}
.test-set-group-name {
    color: #444;
    font-weight: bold;
}

.test-set-group-all {
    float: right;
    color: #444;
    font-weight: bold;
}

h1 {
    border-bottom: 1px solid #444;
    margin-right: 10%;
    font-size: 1.5em;
    letter-spacing: 0.2ex;
    font-family: Trebuchet MS;
    background-color: inherit;
}

/**********************/

.test-results-table {
  margin: 10px;
  padding-left: 40px;
  font-size: 0.9em;
}

.test-results-table td {
  text-align: left;
}

td.test-name {
  text-align: right;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  width: 150px;
  color: 0;

  background-color: #EEE;
  border-right: 2px solid #666;
  border-radius: 10px;

  letter-spacing: 0.1ex;
  font-size: ;
}

.test-result {
  border: 0px;

  text-align: center;
  width: 70px;
  padding: 5px;
  padding-left: 15px;
}

.test-detail {
  color: #888;
  font-style: italic;
}

.test-running .test-result {
  font-style: italic;
  color: #888;
}

.test-passed .test-result {
  color: #280;
  font-weight: bold;
}

.test-failed .test-result {
  color: #820;
  font-weight: bold;
}

.test-failed .test-detail {
  white-space: pre;
  color: #000;
  font-style: normal;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;

  background-color: #F76;
  border: 1px solid #F00;
  border-radius: 10px;
}

